@font-face {
    font-family: 'perfect_dark_brkregular';
    src: url('importFont/pdark-webfont.eot');
    src: url('importFont/pdark-webfont.eot?#iefix') format('embedded-opentype'),
         url('importFont/pdark-webfont.woff2') format('woff2'),
         url('importFont/pdark-webfont.woff') format('woff'),
         url('importFont/pdark-webfont.ttf') format('truetype'),
         url('importFont/pdark-webfont.svg#perfect_dark_brkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'minecraft_eveningsregular';
    src: url('importFont/minecraft_evenings-webfont.eot');
    src: url('importFont/minecraft_evenings-webfont.eot?#iefix') format('embedded-opentype'),
         url('importFont/minecraft_evenings-webfont.woff2') format('woff2'),
         url('importFont/minecraft_evenings-webfont.woff') format('woff'),
         url('importFont/minecraft_evenings-webfont.ttf') format('truetype'),
         url('importFont/minecraft_evenings-webfont.svg#minecraft_eveningsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body.homepage{
    background-color: #000000;
    font-family: 'minecraft_eveningsregular';
    color: white;
    text-align: center;
}

/* homepage */
.gradient-text1{
    margin-top: 70px;
    font-size: 100px;
    background: -webkit-linear-gradient(#FF9900, #980000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

#highscore-text{
    font-size: 50px;
    margin-top : 30px;
}

#start-button:hover{
    opacity: 0.5;

}

.row.start-button{
    padding-top : 30px !important;
    padding-bottom : 30px !important;
    align-items:center !important;
    justify-content:center !important;
}

/* game */
body.game{
    background-color: #000000;
    font-family: 'minecraft_eveningsregular';
    color: white;
}

.card{
    width:10rem;
    margin-top:5%;
    margin-bottom:5%;
    border-radius: 20px !important;
    border-color: white !important;
    border-width: 1px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

.card.enemy{
    background: -webkit-linear-gradient(#000000, #780000);
}

.card.hero{
    background: -webkit-linear-gradient(#000000, #5E5E5E);
}

.card.hero:hover{
    opacity : 0.5;
}

.card.hero.active{
    border-width: 5px !important;
}

.card-header{
    font-family: 'perfect_dark_brkregular';
    text-align:center;
    font-size: 20px;
}

.container.game{
    margin-top:3%;
    margin-bottom:3%;
}

.log-character{
    max-height: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.row.game{
    align-items:center;
    justify-content:center;
}

    /* Kolom Tengah */

    h3#round{
        text-align:right;
    }

    .middle.row.level{
     padding-bottom: 7%;
    }

    .middle.row.middle-card{
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .middle.row.log{
        padding-top: 3%;
    }

    .middle.col.attack-skill{
        padding-top: 5%;
        padding-bottom:5%;
        text-align : center;
    }

    .card.battle-log{
        width:100%;
        background-color: #000000;
        border-color: #990000 !important;
        border-width : 3px !important;
        margin-top : -5px !important;
    }

    .btn.btn-outline-primary.attack-skill{
        margin-top: 5%;
        margin-bottom:5%;
        border-radius: 0px;
        color: white;
        border-color: transparent;
    }

    #attack:hover{
        opacity: 0.5;
    }

    #skill:hover{
        opacity: 0.5;
    }

    #attack{
        background-color: #6F2F2F;
    }

    #skill{
        background-color: #A57733;
    }

    #select-enemy{
        font-family: 'perfect_dark_brkregular';
        background-color: #000000;
        color: white;
        border-radius : 0px;
    }

    .title-text{
        font-size: 20px;
    }
    /* Kolom Tengah */

.modal-header, .modal-body, .modal-footer{
    background-color : #262626;
    text-align : center !important;
    border-radius : 0px !important;
    border-color: #262626 !important;
    align-items:center !important;
    justify-content:center !important;
    font-size: 50px;
}
    
#win-modal-continue.btn.btn-primary.mb-2, #win-modal-home.btn.btn-primary.mb-2, #lose-modal-home.btn.btn-primary.mb-2, #modal-name-submit.btn.btn-primary.mb-2{
    background-color: #A57733;
    border-radius : 0px !important;
    border-color: #A57733 !important;
    padding: 10px, 10px, 10px, 10px !important;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}
    
#win-modal-home.btn.btn-primary.mb-2, #lose-modal-home.btn.btn-primary.mb-2, #modal-name-submit.btn.btn-primary.mb-2{
    background-color: #6E2F2F !important;
    border-color: #6E2F2F !important;
}

#text-input-name{
    background: -webkit-linear-gradient(#FF9900, #980000);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
}

.modal-header{
    margin-bottom: -30px !important;
}

#name-input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}