<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Javascript-->
    <!--Javascript-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</head>

<body class="game">
<div class="container game">
    <div class="row game">
    <!--Kolom Kiri-->

    <div class="col-2">

        <!--Card1Hero-->
        <div id="knight-card" class="card hero" style="max-width: 18rem;">
            <div class="card-header">Knight</div>
            <div class="card-body">
                <div id="knight" class="deskripsi-character">
                </div>
            </div>
        </div>

        <!--Card2Hero-->
        <div id="healer-card" class="card hero" value="Healer" style="max-width: 18rem">
            <div class="card-header">Healer</div>
            <div class="card-body">
                <div id = "healer" class="deskripsi-character">
                </div>
            </div>
        </div>

    </div>
    <!--Kolom Kiri-->

    <!--Kolom Tengah-->
    <div class="col-6">

        <div class="middle row level">
            <div class="col">
                <h3 class="title-text" id = "level"></h3>
                <h3 class="title-text" id = "experience"></h3>
            </div>
            <div class="col">
                <h3 class="title-text" id="round"></h3>
            </div>
        </div >

        <div class="middle row middle-card">

            <div class="col">
                <!--Card3Hero-->
                <div id="mage-card" class="card hero" value="Mage" style="max-width: 18rem;">
                    <div class="card-header">Mage</div>
                    <div class="card-body">
                        <div id = "mage" class="deskripsi-character">
                        </div>
                    </div>
                </div>
            </div>

            <div class="middle col attack-skill">
                <p class="question-text"> WHICH ONE DO YOU WANT TO ATTACK? </p>
                <div class="col">

                    <div class="form-group">
                        <select id="select-enemy" class="form-control" name="ememy">
                            <option value="" selected disabled>Enemy</option>
                            <option value="Goblin" th:text="GOBLIN"></option>
                            <option value="Ogre" th:text="OGRE"></option>
                            <option value="Troll" th:text="TROLL"></option>
                        </select>
                    </div>

                    <a>
                        <!--Kurang href-->
                        <button id="attack" name="choice" value="attack" class="btn btn-outline-primary attack-skill">ATTACK</button>
                    </a>
                    <a>
                        <button id="skill" name="choice" value="attack" class="btn btn-outline-primary attack-skill">SKILL</button>
                    </a>

                </div>
            </div>

            <div class="col">
                <!--Card1Enemy-->
                <div id="goblin-card" class="card enemy" style="max-width: 18rem;">
                    <div class="card-header">GOBLIN</div>
                    <div class="card-body">
                        <div id = "goblin" class="deskripsi-character">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="middle row log">
            <div class="col">
                <h3 class="title-text col">BATTLE LOG</h3>

                <div class="card battle-log">
                    <div class="card-body">
                        <div class="log-character"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--Kolom Tengah-->

    <!--Kolom Kanan-->
    <div class="col-2">
        <!--Card2Enemy-->
        <div id="ogre-card" class="card enemy" style="max-width: 18rem;">
            <div class="card-header">OGRE</div>
            <div class="card-body">
                <div id = "ogre" class="deskripsi-character">
                </div>
            </div>
        </div>

        <!--Card3Enemy-->
        <div id="troll-card" class="card enemy" style="max-width: 18rem;">
            <div class="card-header">TROLL</div>
            <div class="card-body">
                <div id = "troll" class="deskripsi-character">
                </div>
            </div>
        </div>

    </div>
    <!--Kolom Kanan-->
    </div>

    <div class="modal fade" id="modal-win" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p> Win <br> EXP +200 </p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button id="win-modal-home" data-dismiss="modal" class="btn btn-primary mb-2">Home</button>
                        <button id="win-modal-continue" data-dismiss="modal" class="btn btn-primary mb-2">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-lose" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p> Lose </p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button id="lose-modal-home" data-dismiss="modal" class="btn btn-primary mb-2">Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="module" th:src="@{/javascript/game.js}"></script>
</body>
</html>