<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Javascript-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

</head>
<body class="homepage">
    <div class="container">
        <div class="modal fade" id="modal-name" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p id="text-input-name"> Type your name </p>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="name-input"/>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <button id="modal-name-submit" data-dismiss="modal" class="btn btn-primary mb-2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center mx-auto col-md-12">
                <h1 class="gradient-text1">JUDUL GEM</h1>
            </div>
        </div>
        <div class="row start-button">
            <div class="col">
                <a th:href="@{/initGame}">
<!--                    <button class="btn btn-outline-primary">Start</button>-->
                    <img th:src="@{/img/startButton.png}" id="start-button" src="{% static '.../static/img/startButton.png' %}" alt="start-button">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="text-center mx-auto col-md-12">
                <h2 id="highscore-text">HIGHSCORE: </h2>
            </div>
        </div>
    </div>

<script type="module" th:src="@{/javascript/homepage.js}"></script>

</body>
</html>